@import "../../assets/style/index.scss";

.banner-timer {
  color: $color-white;
  font-family: $family-manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  flex-shrink: 1;

  @include onDesktop {
    font-size: 35px;
  }

  @include onTablet {}

  @include onMobile {
    font-size: 30px;
  }
}