@import "../../assets/style/index.scss";

.description-container {
  padding-bottom: 50px;

  @include onMobile {
    padding-bottom: 0;
  }

  .description-box {
    display: flex;
    background: $color-ghost-white;
    justify-content: space-between;

    @include onTablet {
      flex-direction: column;
      gap: 50px;
    }
    
    .title {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include onTablet {
        width: 100%;

        h2, p {
          text-align: justify;
        }
      }

      @include onMobile {
        gap: 24px;
      }

      h2 {
        color: $color-black;
        font-family: $family-manrope;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }

      p {
        color: $color-dim-gray;
        font-family: $family-manrope;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .description-btn-box {
      width: 200px;
      height: 200px;
      background-image: url("../../assets/img/description/description-btn-1.png");
      align-self: center;
      transition: background-image 0.3s ease;
      
      &:hover {
        background-image: url("../../assets/img/target/target-btn-2.png");
      }

      @include onMobile {
        display: none;
      }
    }
  }
}