 @import "../../assets/style/index.scss";

.header-container { 
  background-color: $color-white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  margin: 0 128px;


  
  .header-box {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo-box {
      margin-right: 40px;

      .logo-icon {
        color: $color-black;
        font-family: $family-manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .header__menu-content-box {
      display: flex;
      align-items: center;
      // gap: 150px;

      .header-nav-menu {
        margin-right: 150px;

        .links-list {
          display: flex;
          gap: 16px;
          // flex-shrink: 1;
      
          .links-item {
            position: relative;
            flex-shrink: 0;
            
            a {
              color: $color-black;
              font-family: $family-manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
              color: inherit;
            }

            // a:hover {
            //   font-weight: 600;
            // }

            // a:hover::after {
            //   content: "";
            //   width: 30%;
            //   height: 1.5px;
            //   background-color: $color-black;
            //   position: absolute;
            //   bottom: -4px;
            //   left: 0;
            // }
          }
        }
      }
      
      .btn-box {
    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);

        .btn {
          border: none;
          padding: 13px 36px;
          background-color: $color-light-salmon;
    
          color: $color-black;
          font-family: $family-manrope;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .menu-icon-open {
      display: none;
      width: 20px;
      height: 27px;
      background-image: url("../../assets/img/header/menu-open.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .menu-icon-open,
    .menu-icon-close {
    }
  }

  .menu-box{
    height: 100vh;
    background-color: $color-white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;

    padding-top: 32px;
    padding-bottom: 32px;

    display: none;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    
    &.open {
      display: flex;
      // transform: translateX(-100px);  
      opacity: 1;
      // overflow: visible;


      // opacity: 0;
      // transition: transform 2s;
      // transform: translate(0);

      &.open:target {
        // transform: translate(0);
        // z-index: 100;
        // transition: transform .5s;
      // opacity: 1;

      }
    }

    .menu__logo-box{
      display: flex;
    
      .menu__logo-icon{
        color: $color-black;
        font-family: $family-manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      
      }

      .menu-icon-close {
        display: none;
        width: 25px;
        height: 30px;
        background-image: url("../../assets/img/header/menu-close.png");
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        // top: 0;
        right: 128px;


        margin-right: 0;
        margin-left: auto;
      }
    }

    .menu__links-list{      
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    
      .menu__links-item{
        color: $color-black;
        font-family: $family-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: relative;
      
        a {
          text-decoration: none;
          color: inherit;
        }

        // a:hover {
        //   font-weight: 600;
        // }

        // a:hover::before {
        //   content: "";
        //   width: 30%;
        //   height: 1.5px;
        //   background-color: $color-black;
        //   position: absolute;
        //   bottom: -4px;
        //   left: 0;
        // }
      }
    }
    .menu__btn-box{
    
      .menu__btn{
        display: flex;
        padding: 13px 36px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $color-light-salmon;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
        border: none;
  
        color: $color-black;
        font-family: $family-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  // .open {
  //   opacity: 1;
  //   transition: transform 0.5s;
  //   transform: opacity 0.3s ease; 
  //   // opacity: 1;
  // }
}

@media (max-width: 1440px) {
  .header-container { 
    margin: 0 100px;
    
    .header-box {
      
      .logo-box {
        
  
        .logo-icon {
        }
      }
  
      .header__menu-content-box {
        // gap: 12px;
  
        .header-nav-menu {
  
          .links-list {
            gap: 8px;
        
            .links-item {
    
              a {
              }
            }
          }
        }
    
        .btn-box {

          .btn {
          }
        }
      }
  
      .menu-icon-open {
      }
    }
  
    .menu-box{
  
      .menu__logo-box{
      
        .menu__logo-icon{
        }
  
        .menu-icon-close {
          right: 0 70px;
        }
      }
      .menu__links-list{      
      
        .menu__links-item{
        
          a {
          }
        }
      }
      .menu__btn-box{
      
        .menu__btn{
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-container { 
    margin: 0 70px;
    
    .header-box {
      
      .logo-box {
        
  
        .logo-icon {
        }
      }
  
      .header__menu-content-box {
        display: none;
  
        .header-nav-menu {
  
          .links-list {
        
            .links-item {
    
              a {
              }
            }
          }
        }
    
        .btn-box {

          .btn {
          }
        }
      }
  
      .menu-icon-open {
        display: block;
      }
    }
  
    .menu-box{
      // display: none;
      // opacity: 0;
      // overflow: hidden;

      &.open {

        .menu-icon-close {
          display: block;
        }
      }

      &.menu-open {
        .header__menu-content-box {
          // display: flex;
        }

        .menu-box {
          // display: flex;
        }
      }
  
      .menu__logo-box{
      
        .menu__logo-icon{
        }
  
        .menu-icon-close {
          // display: block;
          right: 70px;
        }
      }
      .menu__links-list{      
      
        .menu__links-item{
        
          a {
          }
        }
      }
      .menu__btn-box{
      
        .menu__btn{
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header-container { 
    margin: 0 10px;
    
    .header-box {
      
      .logo-box {
        
        .logo-icon {
        }
      }
  
      .header__menu-content-box {
  
        .header-nav-menu {
  
          .links-list {
        
            .links-item {
    
              a {
              }
            }
          }
        }
    
        .btn-box {

          .btn {
          }
        }
      }
  
      .menu-icon-open {
      }
    }
  
    .menu-box{
  
      .menu__logo-box{
      
        .menu__logo-icon{
        }
  
        .menu-icon-close {
          right: 10px;
        }
      }
      .menu__links-list{      
      
        .menu__links-item{
        
          a {
          }
        }
      }
      .menu__btn-box{
      
        .menu__btn{
        }
      }
    }
  }
}

