@import "../../assets/style/index.scss";

.result-container {
  padding-bottom: 50px;
  
  
  .result-box {
    background: rgba(255, 164, 113, 0.05);
    // padding: 120px 103px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    .bg {
      // display: block;
      // background-image: url("../../assets/img/result/result-bg.png");
      background-image: url("../../assets/img/result/result-bg-2.png");
      // background-size: contain;
      background-repeat: no-repeat;
      // width: 100%;
      background-size: cover;
      background-position: 50% center;
      height: 203px;

    }

    .title-box {
      // width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;

      h2 {
        color: $color-black;
        font-family: $family-manrope;
        // font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 57.6px */

        // @include onTablet {
        //   font-size: 40px;
        // }

        // @include onMobile {
        //   font-size: 30px;
        // }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        

        li {
          align-items: center;
          display: flex;
          gap: 16px;
          // justify-content: center;

          // justify-self: center;
          // align-self: center;


          // &::before {
          //   content: "";
          //   // display: flex;
          //   padding-right: 12px;
          //   background-image: url("../../assets/img/result/check-icon.svg");
          //   background-size: contain;
          //   background-repeat: no-repeat;
          //   width: 24px;
          //   height: 24px;
          // }

          .svg {
            // display: block;
            // margin-right: 50px;
            aspect-ratio: 1;
            background-image: url("../../assets/img/result/check-icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            // margin-right: 20px;
            width: 24px;
            height: 24px;

            @include onMobile {
              width: 15px;
              height: 15px;
            }
          }

          p {
            // padding-left: 20px;
            color: $color-black;
            font-family: $family-manrope;
            // font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
        }
      }

      button {
        display: block;
        padding: 13px 36px;
        justify-content: center;
        align-items: center;
        align-self: self-start;
        gap: 10px;
        border: none;
        background: $color-light-salmon;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);

        color: $color-black;
        font-family: $family-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}