@import "../../assets/style/index.scss";

.footer-container {
  width: 100%;
  background-color: $color-rich-black;

  
  .footer-box {
    margin: 0 128px;
    padding: 60px 0 127px;
    
    display: flex;
    flex-direction: column;
    gap: 60px;
    
    @include onDesktop {
      margin: 0 100px;
    }

    @include onTablet {
      margin: 0 70px;
      padding: 60px 0 150px;
    }

    @include onMobile {
      margin: 0 10px;
      // justify-content: center;
      align-items: center;
      // padding: 60px 0 150px;
    }

    p, a, h2 {
      color: $color-white;
      font-family: $family-manrope;
    }

    .top-box {
      display: flex;
      justify-content: space-between;

      @include onMobile {
        display: grid;
        grid-template-columns: repeat (2, 1fr);
        column-gap: 10px;

        .register-title {
          align-self: center;
        }
      }

      .logo-box {

        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .menu-box {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include onMobile {
          
          grid-column: span 1;
          margin-bottom: 30px;
        }

        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .menu-subbox {

          li {

            a {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              color: $color-white;
              font-family: $family-manrope;
            }
          }
        }
      }

      .resource-box {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include onMobile {
          grid-column: 2/3;
        }

        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .resource-subbox {

          li {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: inherit;
            color: $color-white;
            font-family: $family-manrope;
          }
        }
      }

      .register-box {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include onMobile {
          grid-column: span 2;
        }

        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        // input {
        //   padding: 14px 16px;
        //   align-items: center;
        //   gap: 10px;
        //   border: 1px solid $color-white;
        //   background:none;

        //   color: $color-dim-gray;
        //   text-align: start;
        //   font-family: $family-manrope;
        //   font-size: 15px;
        //   font-style: normal;
        //   font-weight: 400;
        //   line-height: 150%;
        // }

        button {
          padding: 13px 36px;
          align-items: center;
          gap: 10px;
          background-color: $color-light-salmon;
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);

          color: $color-black;
          font-family: $family-manrope;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border: none;

          &:hover {
            background-color: #FF8845;
          }

          &:active {
            color: #ffffff;
            background-color: #000000;
          }

        }

        .register-subbox {
          display: flex;
          justify-content: space-between;
          gap: 55px;

          .email-link-btn {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
          }

          .social-box {
            display: flex;
            gap: 12px;

            .insta-icon {
              background-image: url("../../assets/img/footer/insta-icon.svg");
              width: 23px;
              height: 23px;
              background-repeat: no-repeat;
              background-size: contain;
              cursor: pointer;
              // fill: #FF8845;
              // background-blend-mode: color;
              // background-color: #FF8845;
              // mix-blend-mode: color-burn;
            }

            .fb-icon {
              background-image: url("../../assets/img/footer/fb-icon.svg");
              width: 23px;
              height: 23px;
              background-repeat: no-repeat;
              background-size: contain;
              cursor: pointer;
            }
          }
        }
      }
    }

    .bottom-box {

      p {
        text-align: center;
        color: $color-white;
        font-family: $family-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}

